target/
!.mvn/wrapper/maven-wrapper.jar
.mvn
mwnw
.mwnw

### IntelliJ IDEA ###
**/.idea/*
!.idea/runConfigurations
*.iws
*.iml
*.ipr

### Configs ###
conf/
./src/test/resources/test.properties

### Logs ###
**/logfile.log*